<div class="modal-header">
  <h2 class="modal-title fs-5" id="confirmacao-modal-titulo">
    {{ titulo }}
  </h2>

  <button
    type="button"
    class="btn-close"
    aria-label="Fechar"
    (click)="cancelar()">
  </button>
</div>

<div class="modal-body">
  <p id="confirmacao-modal-mensagem" class="mb-0">
    {{ mensagem }}
  </p>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="cancelar()">
    Cancelar
  </button>

  <button type="button" class="btn btn-danger" (click)="confirmar()">
    Excluir
  </button>
</div>